@{
    ViewData["Title"] = "Home Page";
}
@model Desnz.Mees.DataTool.Web.Models.EpcSummariesViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        
    
    @foreach (var summary in Model.EpcNonDomestics)
    {
        <li>@summary.Address</li>
    }
    </ul>
</div>